/* Background */
body {
  background: #004c54;
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  color: #ffffff;
}

/* PC/Tablet Version */

#header {
  margin: 32px;
}

#main-logo {
  width: 30%;
  max-width: 230px;
}

#app-icon {
  width: 40%;
}

#container {
  display: flex;
  flex-direction: row;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 50px;
}

#content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 40px;
}

#app-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  min-width: 120px;
}

#download {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.store-link {
  width: 100%;
  max-width: 250px;
}

#logo {
  width: 100%;
}

#app-icon {
  width: 100%;
  margin-bottom: 10px;
}

#mobile-image {
  width: 100%;
  height: auto;
}

#screenshot-container {
  width: 30%;
  min-width: 200px;
  display: flex;
  align-items: center;
}

h1 {
  font-weight: 700;
  font-size: 45px;

}

p {
  font-weight: 400;
  font-size: 20px;
}

/* Remove mobile Content */

#header-mobile {
  display: none;
}

#container-mobile {
  display: none;
}

/* Mobile Version */

@media only screen and (max-width: 600px) {
  #header-mobile {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  #container-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #main-logo-mobile {
    width: 40%;
    margin: 4%;
  }

  #main-logo-mobile > img {
    width: 100%;
    height: auto;
  }

  #app-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
  }

  #app-icon-mobile {
    width: 50%;
  }

  #logo-mobile {
    width: 40%;
    margin-top: 5%;
    margin-bottom: 7%;
  }

  #download-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 450px;
  }

  .store-link-mobile {
    display: block;
    width: 65%;
  }

  .store-link-mobile > img{
    width: 100%;
  }

  #text-mobile {
    margin: 15%;
    margin-top: 5%;
    margin-bottom: 18%;
  }

  h1 {
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;

    color: #ffffff;
  }

  p {
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;

    color: #ffffff;
  }

  /* Remove PC/Tablet Content */

  #header {
    display: none;
  }

  #container {
    display: none;
  }
}
